praxis-isncsci-app-bar {
  --background: var(--light-app-bar-surface);
  --box-shadow: var(--shadow-extra-small);
  --gap: var(--app-bar-gap);
  --height: var(--app-bar-height);
  --padding: 0 var(--app-bar-padding);
  --title-font-family: var(--text-font-family);
  --title-font-size: var(--type-scale-subtitle-2-font-size);
  --title-font-weight: var(--type-scale-subtitle-2-weight);
  --title-line-height: var(--type-scale-subtitle-2-line-height);
}
